
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FirstView</title>
</head>
<body>
    <div> 
        @Html.ActionLink("get", "FirstView", "School", new { i = 5 },null)
        <input type="submit" value="=submit" />
    </div>
</body>
</html>
