
@{
    ViewBag.Title = "Index";
}





<h1>Change in H1 Tag </h1>

@{ 
    <h2> the change in tag made by Gopi at @DateTime.Now</h2>
}
<ul type="square">
    <h1>feature 14 change</h1>
    <li>EzClinic</li>
    <li>AWS</li>
    <li>Cloud</li>
</ul>