
@{
    ViewBag.Title = "Index";
}

<h1>F1 B</h1>
<h1>PullRequestTest</h1>
<hr />
<ol type="number" start="5">
    <li>PullRequestTest </li>
    <li>Copyin Artifacts </li>
    <li>Deploying to IIS </li>
    
</ol>
<a href="/School/FirstView">click_Here</a><br />
@Html.ActionLink("ClickHerwwwww", "FirstView", "School");